{% extends 'base.html.twig' %}

{% block title %}Hello IpController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ dump(WeatherData)}}! ✅</h1>
    <h1>Hello {{ country_code }}! ✅</h1>
    <h1>Hello {{ dump(IpData) }}! ✅</h1>


    
</div>
{% endblock %}
